@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-size: 14px ;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    background-color: white;
}
.black{
    width: 98%;
    height: 97vh;
    background-color: hsl(0, 0%, 8%) ;
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.opblack{
    width: 28vw;
    height: 70vh;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: hsl(0, 0%, 12%);  
}

#green{
   color:  hsl(75, 94%, 57%);
}
.sm{
    width : 18vw;
    height: 6vh;
    background-color: hsl(0, 0%, 20%);
    border-radius: 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 2%;
    margin: 2%;
}
div img{
    width:100px ;
    height: 100px;
    border-radius: 50%;
    margin: auto;
}
