nav ul{
    display :flex;
    flex-direction: row;
    justify-content: flex-end; 
}
nav ul li{
    margin: 2px;
    padding: 10px;
    list-style: none;
}
 #logo {
  background: aqua;
  height : auto;
  width: 50%;
}
.layer{
    background: gray;
    width: 100%;
}